include:
  - local: .ci/terraform.yml
    rules:
      - if: '$CI_COMMIT_TAG =~ /^v.*/'
      - changes:
          - infra/**/*
          - .ci/terraform.yml
  - local: .ci/app.yml
    rules:
      - changes:
          - src/**/*
          - docker/**/*
          - .ci/app.yml
