stages:
  - tf_fmt
  - tf_validate
  - tf_plan
  - tf_apply
  - meta
  - test
  - build

include:
  - local: .ci/aws-oidc.yml
  - local: .ci/terraform.yml
    rules:
      - if: '$CI_COMMIT_TAG =~ /^v.*/'
      - changes:
          - infra/**/*
          - .ci/terraform.yml
  - local: .ci/app.yml
    rules:
      - changes:
          - src/**/*
          - docker/**/*
          - .ci/app.yml
