include:
  - local: .ci/terraform.yml
    rules:
      - changes:
          - infra/**/*
          - .ci/terraform.yml
          - .gitlab-ci.yml
  - local: .ci/app.yml
    rules:
      - changes:
          - src/**/*
          - docker/**/*
          - .ci/app.yml
          - .gitlab-ci.yml
