stages:
  - tf_fmt
  - tf_validate
  - tf_plan
  - tf_apply
  - meta
  - test
  - build
  - promote

include:
  - local: .ci/aws-oidc.yml

  - local: .ci/terraform.yml
    rules:
      # Run Terraform on tags ONLY if infra/terraform files changed in that commit
      - if: '$CI_COMMIT_TAG =~ /^v.*/'
        changes:
          - infra/**/*
          - .ci/terraform.yml

      # Still run Terraform on branch commits when infra changes
      - changes:
          - infra/**/*
          - .ci/terraform.yml

  - local: .ci/app.yml
    rules:
      # Include app pipeline on tags for promotion
      - if: '$CI_COMMIT_TAG =~ /^v.*/'
      # Include app pipeline on changes for develop builds/tests
      - changes:
          - src/**/*
          - docker/**/*
          - .ci/app.yml
