# IDE
.vscode/
.idea/
.DS_Store
adit-service.iml

# packaging/build artifacts
*.egg-info/
dist/
build/
__pycache__/
.venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl